"*":
  core:
    customFileTypes:
      "source.assembly.6502.cc65": [
        "asm"
        "inc"
      ]
    disabledPackages: [
      "vim-mode-plus"
    ]
    themes: [
      "atom-material-ui"
      "monokai"
    ]
  "exception-reporting":
    userId: "53c4b150-b3c6-4970-8881-cd95342391e2"
  "linter-ui-default":
    showPanel: true
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "tree-view":
    hideVcsIgnoredFiles: true
